.mobile-header {
    display: none;
}
header {
    position: fixed;
    left: 0;
    z-index: 60 !important;
    background-color: #fff;
    top: 0;
    width: 100%;
    padding-block: 13px;
    display: flex;
    align-items: flex-start;
    height: 77px;
    border-bottom: 1px rgb(241, 233, 233) solid;
    transition: 0.3s ease-in-out;

    .header-main {
        padding-top: 0.4rem;
        align-items: flex-start;
        justify-content: space-between;
    }

    &.big {
        height: 165px;
        border: none;
    }

    .header-filter {
        align-self: center;
        padding: 15px;
        padding-inline-end: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background: white;
        box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
        border-radius: 2rem;
        border: 1px solid #DDDDDD;
        height: 3rem;
        width: 23rem;
        color: #222222;
        cursor: pointer;
        transition: 0.15s;

        &:hover {
            box-shadow: 0 3px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
        }

        div {
            &:not(.start-your-search) {
                padding-inline-end: 16px;
                color: rgb(34, 34, 34);
                font-size: 0.9rem;
                display: flex;
                justify-content: center;
                align-self: center;

                &:not(.grey) {
                    font-weight: 600;
                    border-inline-end: 0.5px rgb(206, 200, 200) solid;
                }

                &.grey {
                    padding: 0;
                    color: $clr7;
                    font-weight: 400;
                }
            }

        }
    }

    .filterInDetails {
        padding-left: rem(8px);
        justify-content: space-between;
        width: rem(300px);

        .start-your-search {
            padding-left: rem(16px);
            font-size: rem(14px);
            line-height: rem(18px);
            font-weight: 600;
            white-space: nowrap;
            flex: 1 1 auto;
        }

        svg {
            margin-inline-end: rem(7px);
            margin-top: rem(7px);
            margin-bottom: rem(7px);
        }
    }


    .menu-button {
        margin: 0;
        background: white;
        border: 1px solid #DDDDDD;
        border-radius: 2rem;
        min-width: 4.8rem;
        height: 2.6rem;
        gap: 0;
        cursor: pointer;
        transition: 0.2s;

        &:hover {
            box-shadow: 1px 1px 1px 1px rgb(202, 196, 196);
        }

        .menu-icon {
            height: 19px;
            width: 19px;
            color: rgb(42, 42, 42);
            position: relative;
            top: 0.1rem;
        }

        img {
            height: 1.84rem;
            width: 1.84rem;
            display: inline-block;
            position: relative !important;
            left: 0.8rem;
            right: 5rem !important;
            border-radius: 50%;
        }

        .user-icon {
            height: 1.84rem;
            width: 1.84rem;
            color: rgb(104, 104, 104);
            display: inline-block;
            position: relative !important;
            left: 0.8rem;
            right: 5rem !important;
        }
    }

    .logo {
        gap: 5px;
        width: 200px;

        img {
            height: 35px;
            width: 35px;
        }

        h1 {
            cursor: pointer;
            font-size: 1.4rem;
            font-family: cereal-bold;
            color: $clr1;

            span {
                font-size: 1.49rem;
            }
        }
    }

    .right-header {
        flex-direction: row;
        align-items: center;
        gap: 1.2rem;

        p {
            font-family: cereal-semi-light;
            font-size: 0.86rem;
        }
    }
}

@media (max-width:1110px) {
    header {
        .logo {
            h1 {
                display: none;
            }
        }
    }
}

@media (max-width:750px){
    header{
        &.removeHeader{
            display: none;
        }
    }
}

@media (max-width:950px) {
    header {
        .header-main {
            gap: 10px;
        }

        .logo {
            width: max-content;
        }
       
    }
}

@media (max-width:950px) {
    .mobile-menu {
        display: flex;
        background-color: #FFFFFF;
        z-index: 2000;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 75px;
        align-items: center;
        justify-content: center;
        gap: 50px;
        border-top: 1px solid #EBEBEB;
        div {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 5px;
            p {
                font-size: 10px;
                line-height: 12px;
                font-weight: 600;
                color: $clr7;
            }
        }
        .active-page{
            svg{
                stroke: #FF385C !important;
            }
            p{
                color: $clr2;
            }
        }
    }

    .header-main {
        display: none;
    }

    .mobile-header {
        cursor: pointer;
        font-family: cereal-semi-light;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        display: inline-block;
        height: 54.4px;
        width: 100%;
        background-color: #FFFFFF;
        border: 0.5px solid rgba(0, 0, 0, 0.08);
        box-shadow: 0 3px 10px rgb(0 0 0 / 10%);
        border-radius: 1000px;
        display: flex;
        align-items: center;

        svg {
            margin-inline-start: 20px;
            margin-inline-end: 16px;
        }

        .col-2 {
            gap: 5px;

            p {
                color: #717171;
                font-size: 12px;
                line-height: 16px;
            }
        }
    }
}