.map-container {
    border-top: 1px solid rgb(210, 210, 210);
    h1 {
        font-size: rem(22.4px);
        margin-top: rem(46px);
        margin-bottom: rem(25.8px);
    }
    margin-bottom: rem(46px);
}