.stay-filter {
    z-index: 30 !important;
    padding-top: 13px;
    padding-bottom: 0;
    left: 0;
    background-color: $clr6;
    position: fixed;
    width: 100%;
    top: 77px;
    box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.29);
    -webkit-box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.29);

    .stay-filter-div {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1.5px solid transparent;
        cursor: pointer;
        position: relative;
        top: 0.3rem;

        &:hover {
            div {
                color: black;
                box-shadow: 0 12px 1px -1px #717171;
            }

            img {
                filter: none;
            }
        }

        &.activeLabel {
            div {
                color: black;
                box-shadow: 0 12px 1px -1px black;
            }

            img {
                filter: none;
            }

        }

        img {
            filter: contrast(calc(13 / 44));
            height: 24px;
            width: 24px;
            transition: 0.4s;
        }

        div {
            font-size: 12px;
            font-family: cereal-semi-light;
            font-weight: bold;
            color: $clr7;
            white-space: nowrap;
            transition: 0.4s;
        }
    }
}

.stay-filter .stay-filter-div div {
    margin-bottom: 6px;
    padding-bottom: 13px;
}

.carousel__viewport {
    margin-inline: 1.4rem !important;
}

/****MAY CAUSE PROBLEM***/
// .carousel__slide{
//     max-height: 6rem;
// }