.alert {
    z-index: 10000;
    position: fixed;
    top: 10rem; 
    right: 50%;
    transform: translate(50%,-50%);
    transition: all 0.2s;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    background-color: 1px rgb(255, 56, 92) solid;
    &.alert-success {
        border: 1px rgb(112, 112, 112) solid;
        color: white;
        opacity: 0.9;
        background-color: rgb(255, 56, 92);
    }
    &.alert-error {
        opacity: 0.8;
        border: 1px rgb(241, 130, 130) solid;
        background-color: rgb(254, 224, 224);
    }
}

