.user-modal-container {
  width: 35.6rem;
  height: fit-content;
  padding-bottom: 2.5rem;
  padding-top: 1rem;
  z-index: 5000;
  background-color: white;
  border: none;
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  border-radius: 1rem;

  .title {
    text-align: center;
    font-size: 1rem;
    letter-spacing: 0.2px;
    margin-top: 1.4rem;
  }

  .welcome {
    margin-top: 3.8rem;
    margin-left: 1.65rem;
  }

  .inputDiv {
    margin-top: 1.75rem;
    flex-direction: column;
    margin-inline: 1.5rem;
    border: 1px rgb(175, 175, 175) solid;
    border-radius: 0.5rem;
    gap: 0;
    div {
      border: none;
      height: 4rem;
      margin: 0;
    &:not(:first-child){
      border-top: 1px rgb(175, 175, 175) solid;
    }

      input {
        width: 90%;
        display: flex;
        position: relative;
        top: 0rem;
        margin-inline: 1rem;
        font-size: 1rem;
        border: none;

        &:focus {
          outline: none;
        }
      }
    }
  }

  label {
    font-size: 0.8rem;
    padding-inline-start: 1rem;
    padding-top: 0.5rem;
    color: rgb(108, 108, 108);
  }

  .disclaimer {
    color: rgb(108, 108, 108);
    font-size: 0.7rem;
    text-align: center;
    margin-top: 1.5rem;
  }

  button {
    width: 90%;
    height: 3rem;
    display: block;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-family: cereal-medium;
    cursor: pointer;
    background-image: radial-gradient(circle at center center, rgb(255, 56, 92) 0%, rgb(230, 30, 77) 27.5%, rgb(227, 28, 95) 40%, rgb(215, 4, 102) 57.5%, rgb(189, 30, 89) 75%, rgb(189, 30, 89) 100%) !important;
  }
}