.toy-preview{
    border-radius: 20px;
    background-color: bisque;
    font-size: xx-large;
    padding: 20px;
    gap: 20px;
    
}
.preview-buttons{
    gap: 20px;
}



.list-container{
    gap: 20px;
}