.app-header h1{
    font-size: 50px;
    color: beige;
}

.app-header .nav{
    color: beige;
    font-size: 40px;
    gap: 20px;
}

.app-header .nav .login{
    color: black;
}

.app-header .nav .router-link-active{
    color: $activeClr;
}

.app-header{
    background-color: $headerClr;

    h1{
        align-self: flex-start;
    }

    &.nav{
        align-self: flex-end;
    }
}



