.toy-app{
    margin-top: 25px;

    .upper-list{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        nav{
            justify-self: flex-end;
            display: flex;
            gap: 20px;
        }
    }
}