.mobile-filter {
    position: fixed;
    bottom: -150%;
    background: #F7F7F7;
    height: 100vh;
    width: 100%;
    opacity: 0;
    transition: bottom 0.4s, opacity 0.8s;

    &.opened {
        bottom: 0;
        opacity: 1;
    }

    .top-filter {
        padding-top: 18px;
        padding-bottom: 9px;
        padding-left: 15px;

        .closeBtn {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: #ffffffe6;
            color: #222222;
            border: 1px solid rgb(176, 176, 176);
            height: 32px;
            width: 32px;
            cursor: pointer;

            svg {
                stroke-width: 6 !important;
                height: 12px !important;
                width: 12px !important;
            }

            &:hover {
                box-shadow: 2px 10px 35px 0px rgba(216, 209, 209, 0.75);
                -webkit-box-shadow: 2px 10px 35px 0px rgba(216, 209, 209, 0.75);
                -moz-box-shadow: 2px 10px 35px 0px rgba(216, 209, 209, 0.75);
                border: transparent solid rgb(176, 176, 176);

                svg {
                    stroke-width: 7 !important;
                }
            }
        }
    }

    .main-mobile-filter {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-top: 3px;

        >* {
            width: 100%;
            height: fit-content;

            >* {
                background-color: #FFFFFF;
                border: none;
            }

            .active {
                padding: rem(24px);
                box-shadow: 0 0 0 1px rgb(0 0 0 / 4%), 0 6px 20px rgb(0 0 0 / 20%);
                border-radius: rem(24px);
            }

            .preview-filter {
                padding-inline: rem(24px);
                padding-block: rem(20px);
                border-radius: 16px;
                box-shadow: 0 1px 2px rgb(0 0 0 / 5%), 0 4px 6px rgb(0 0 0 / 3%);

                >* {
                    font-size: rem(14px);
                    line-height: rem(18px);
                    font-weight: 600;
                }

                .first {
                    color: #717171;
                }

                .second {
                    color: #222222;
                }
            }
        }
    }
}

.country-search {
    .title{
        font-size: rem(22px);
        line-height: rem(26px);
        font-family: cereal-bold;
    }
    .search-mobile {
        margin-top: 16px;
        margin-bottom: 12px;
        display: flex;
        align-items: center;
        padding-inline: rem(20px);
        border: 1px solid rgb(176, 176, 176);
        border-radius: rem(12px);
        height: 60px;
        svg {
            margin-inline-end: rem(10px);
        }

        input {
            color: inherit;
            font-family: inherit;
            font-size: rem(14px);
            font-weight: 600;
            line-height: rem(18px);
            border: none;
            outline: none;
            height: 100%;
            width: 100%;
        }
    }
}