.stay-details-amenities-section{
  width: 100%;
  padding-bottom: 5rem;
  h3{
    position: relative;
    right: 0.3rem;
    font-family: cereal-light;
    color: black;
    font-size: 1.4rem;
    margin-top: 2.6rem;
    margin-bottom: 1.1rem;
    letter-spacing: 0.2px;
  }
  .item {
    font-size: 16px;
    width: 50%;
    margin-block:0.45rem ;
    display: flex;
    align-items: center;
  }
  .svgImg{
    width: 1.5rem;
    margin-inline-end: 0.7rem;
    position: relative;
    top: 0.3rem;
  }
  .container {
    flex-wrap: wrap;
  }
  
  .container > div {
    flex-basis: 50%; /* or - flex: 0 50% - or - flex-basis: 50% - */
    margin-bottom: 10px;
  }
  .amenitiesBtn{
    position: relative;
    top: 2.7rem;
    right: 0.55rem;
    font-family: cereal-medium;
    font-size: 1rem;
    border-radius: 0.45rem;
    color: black;
    background-color: white;
    border: 1px black solid;
    padding: 0.77rem 1.4rem;
    cursor: pointer;
    &:active{
      scale: 0.97;
    }
  }
}