.wishlist {
  margin-top: 4rem;
  .red{
    fill: red;
  }
  svg{
    transition: all 0.15s;
  }
  title {
    font-size: 2rem;
    color: black;
    font-family: cereal-bold;
    font-weight: 700;
  }
  .flexContainer{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(263px, 1fr));
    gap: 1.1vw;
    padding: 0;
  }

  li {
    width: 100%;
  }

}